<div class="main-div">
    <mat-card class="example-card">
        <h1 style="text-align: center;">Login Page</h1>
        <mat-card-content>
            <div class="form">
                <div class="form-field">
                    <div>
                        <label>Email/Mobile number</label>
                    </div>
                    <div>
                        <input type="text" [(ngModel)]="email" />
						
                    </div>
                </div>
                <div class="form-field">
                    <div>
                        <label>Password</label>
                    </div>
                    <div>
                        <input type="password" [(ngModel)]="password" />
                    </div>
                </div>
            </div>
        </mat-card-content>
        <div class="subbtn">
            <button  (click)="login()">Submit</button>
        </div>
    </mat-card>
</div>