.example-card{
    width: 100%;
}
.main-div{
    align-items: center;
    margin: 10%;
}
.form{
    width: 300px;
    margin: 0px 40%;
}
.subbtn{
    margin: 0px 45%;
}
.form-field{
    margin: 20px 0px;
}