<mat-card>
    <mat-card-content>
        <div>

            <ul style="display: flex;">
                <li style="width: 100px;margin: 0px 10px;">
                    <a [routerLink]="['/home']">Home</a>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">{{profileName}}</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Profile</button>
                        <button mat-menu-item (click)="logout()">Logout</button>
                    </mat-menu>
                </li>
            </ul>

        </div>

        <mat-card class="mat-card-box">
            <mat-card-content>
                <h1 style="text-align: center;">Welcome back, {{profileName}}</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam viverra augue, et lacinia
                    orci.
                    In
                    id pulvinar arcu, sed condimentum sapien. Praesent lectus felis, luctus id odio eu, convallis mollis
                    mi.
                    Phasellus est lorem, aliquet a velit nec, varius convallis ante. Proin condimentum placerat ante.
                    Lorem
                    ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel ornare leo. Suspendisse sed sem vel
                    dui
                    fermentum euismod in quis lorem. Donec tincidunt, purus eu viverra auctor, eros risus aliquam
                    lectus,
                    eget
                    venenatis ex nulla nec mauris. Ut magna velit, lacinia laoreet massa id, malesuada elementum libero.
                </p>
            </mat-card-content>
        </mat-card>

        <h2 style="margin: 30px 0px 10px 0px;" class="text-align ">Flowers Show</h2>
        <mat-card class="mat-card-box">
            <mat-card-content>
                <div class="card-text">
                    <ng-container *ngFor="let obj of dataObj | slice:0:4">
                        <span class="example-card">
                            <img mat-card-image src="{{obj.image}}" alt="Photo of a Shiba Inu">
                            <p>{{obj.name}}</p>
                        </span>
                    </ng-container>
                </div>
                <div class="card-text" *ngIf="isShowMore">
                    <ng-container *ngFor="let obj of dataObj | slice:4:dataObj.length">
                        <span class="example-card">
                            <img mat-card-image src="{{obj.image}}" alt="Photo of a Shiba Inu">
                            <p>{{obj.name}}</p>
                        </span>
                    </ng-container>
                </div>
                <div class="showMoreBTN" (click)="isShowMore = !isShowMore">
                    Show More
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>

</mat-card>