.example-card{
    img{
        width: 150px;
        height: 150px;
    }
    p{
        width: 150px;
        height: 50px;
    }
    margin: 0px 10px;
}
.card-text{
    display: flex;
    flex-direction: row;
    padding: 0px 20%;
}
.showMoreBTN{
    text-align: center;
    cursor: pointer;
}
.text-align{
    text-align: center;
}
.mat-card-box{
    margin: 50px 0px 10px 0px;
}